---
date: Last Modified
component:
  name: Headers
---

{% extends "_includes/default.njk" %}

{% block content %}
  <div class="container">
    {%- for post in collections.headers -%}
      <section class="mb-12 md:mb-16">
        <span class="block font-mono mb-2">{{ component.name }} - Variant {{ loop.index }}</span>
        {% include "components/headers/header-0"+ (loop.index) + ".njk" %}
      </section>
    {% endfor %}
  </div>
{% endblock %}