{% extends "_includes/default.njk" %}

{% block content %}
  <div class="bg-white py-8">
    <div class="container">
      <h1 class="text-2xl md:text-3xl font-bold mb-3 md:mb-6">Adtrak Modular Design</h1>

      <span class="block text-lg mb-2 font-bold">Components</span>
      <nav>
        <ul class="list-disc list-inside">
          <li><a class="text-blue hover:text-green focus:text-green underline font-mono" href="/header">Header Component</a></li>
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}